  <div class="ui inverted dimmer" [class.active]='loading'>
    <div class="ui text loader">Loading</div>
  </div>
  <p></p>
<div class="jumbotron bg-white text-center p-0 m-0">
    <h1 class="display-4">Covid-19 Tracker</h1>
    <hr>
    <app-dashboard-card [totalConfirmed]='totalConfirmed' [totalRecovered]='totalRecovered' 
    [totalDeaths]='totalDeaths' [totalActive]='totalActive' ></app-dashboard-card>
  </div>
  <hr>
  <div class="ui form">
    <div class="inline fields">
      <label for="fruit">Select case Type:</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="caseType" id="c" #c (click)='updateChart(c)' value="c" checked="" tabindex="0" class="hidden">
          <label for="c">Confirmed</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="caseType" id="r" #r (click)='updateChart(r)' value="r" tabindex="0" class="hidden">
          <label for="r">Recovered</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="caseType" id="d" #d (click)='updateChart(d)' value="d" tabindex="0" class="hidden">
          <label for="d">Deaths</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="caseType" id="a" #a (click)='updateChart(a)' value="a"  tabindex="0" class="hidden">
          <label for="a">Active</label>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
      <div class="col-sm">
            <google-chart [title]="chartTitle" [height]='chart.height' style="width: 100%"  [type]="chart.PieChart" [data]='dataTable' [options]="chart.options"></google-chart>
      </div>
        <div class="col-sm">
            <google-chart [title]="chartTitle" [height]='chart.height' style="width: 100%"  [type]="chart.ColumnChart" [data]='dataTable' [options]="chart.options"></google-chart>
        </div>
      </div>
    </div>