  <div class="ui inverted dimmer" [class.active]='loading'>
    <div class="ui text loader">Loading</div>
  </div>
  <p></p>
<div class="jumbotron bg-white text-center p-0 m-0">
    <h1 class="display-4">Covid-19 Tracker</h1>
    <hr>
    <app-dashboard-card [totalConfirmed]='totalConfirmed' [totalRecovered]='totalRecovered' 
    [totalDeaths]='totalDeaths' [totalActive]='totalActive' ></app-dashboard-card>
  </div>
  <hr>
  <div class="ui form">
    <div class="inline fields">
      <label for="fruit">Select case Type:</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="caseType" id="c" #c (click)='updateChart(c)' value="c" checked="" tabindex="0" class="hidden">
          <label for="c">Confirmed</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="caseType" id="r" #r (click)='updateChart(r)' value="r" tabindex="0" class="hidden">
          <label for="r">Recovered</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="caseType" id="d" #d (click)='updateChart(d)' value="d" tabindex="0" class="hidden">
          <label for="d">Deaths</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="caseType" id="a" #a (click)='updateChart(a)' value="a"  tabindex="0" class="hidden">
          <label for="a">Active</label>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
      <div class="col-sm">
            <google-chart [title]="chartTitle" [height]='chart.height' style="width: 100%"  [type]="chart.PieChart" [data]='dataTable' [options]="chart.options"></google-chart>
      </div>
        <div class="col-sm">
            <google-chart [title]="chartTitle" [height]='chart.height' style="width: 100%"  [type]="chart.ColumnChart" [data]='dataTable' [options]="chart.options"></google-chart>
        </div>
      </div>
    </div>
    <!--Scroll to top-->
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button (click)="scrollToTop()">
    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-up-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 11.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
    </svg>
  </button>
</div>