<div class="row p-2 m-2">
    <div class="col p-3">
      <div class="card text-center bg-warning text-white">
        <div class="card-body">
          <h5 class="card-title">Confirmed</h5>
          <p class="card-text">{{totalConfirmed}}</p>
        </div>
    </div>
    </div>
    <div class="col p-3">
    <div class="card text-center bg-success text-white">
                  <div class="card-body">
                    <h5 class="card-title">Recovered</h5>
                    <p class="card-text">{{totalRecovered}}</p>
                  </div>
    </div>
    </div>
    <div class="col p-3">
      <div class="card text-center bg-danger text-white">
        <div class="card-body">
          <h5 class="card-title">Deaths</h5>
          <p class="card-text">{{totalDeaths}}</p>
        </div>
</div>
    </div>
    <div class="col p-3">
      <div class="card text-center bg-primary text-white">
        <div class="card-body">
          <h5 class="card-title">Active</h5>
          <p class="card-text">{{totalActive}}</p>
        </div>
    </div>
</div>