<div class="row p-2 m-2">
    <div class="col p-3">
          <button type="button" class="btn btn-lg btn-warning">
            Confirmed <span class="badge badge-light">{{totalConfirmed}}</span>
            <span class="sr-only">unread messages</span>
          </button>
    </div>
    <div class="col p-3">
      <button type="button" class="btn btn-lg btn-success">
        Recovered <span class="badge badge-light">{{totalRecovered}}</span>
        <span class="sr-only">unread messages</span>
      </button>
    </div>
    <div class="col p-3">
          <button type="button" class="btn btn-lg btn-danger">
            Deaths <span class="badge badge-light">{{totalDeaths}}</span>
            <span class="sr-only">unread messages</span>
          </button>
    </div>
    <div class="col p-3">
          <button type="button" class="btn btn-lg btn-primary">
            Active <span class="badge badge-light">{{totalActive}}</span>
            <span class="sr-only">unread messages</span>
          </button>
    </div>
</div>